section, footer {
    background-color: #1A79BC;
}

* {
    color: white;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;    
}

.sub-h {
text-decoration: underline;
}

.card{
    background-color: blueviolet;
    border: 1px solid black;
    height: 250px;
    width: 250px;
    margin-bottom: 10px;
}

/* file : project.html */
.my-form {
    border: 5px solid white;
    height: 500px;
    width: auto;

    
  }
.f-input{
    background-color:whitesmoke;
    color: black;
    margin:10px;
}
.f-txta{
    background-color: whitesmoke;
    color: black;
    height: 250px;
    margin:10px;
}
.f-button {
    background-color: whitesmoke;
    color: black;
    margin:10px;
}
 
.navbar-collapse.collapse.in {
    display: flex!important;
  }
  .jumbotron {
    color: white;
    background-image: url('ocean.jpeg');;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  a.nav-link{
      width: 50%;
  }
  .nav-item{
      width: 100px;
  }
