* {
    background-color: #1A79BC;
    color: white;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive; 

}

.my-nav .tile {
    list-style-type: none;  
}
a {color: white;}

.sub-h {
text-decoration: underline;

}

.tile {
width: 200px;
height: 200px;
background-color: #778899;

}

.my-items {
    background-color: blueviolet;
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

/* file : project.html */
.my-form {
    background-color: aquamarine;
    height: 500px;
    width: 500px;
    border: 5px solid black;
}